@font-face {
  font-family: "line-Th";
  src: url("./LINESeedKR-Th.ttf");
}

@font-face {
  font-family: "line-Rg";
  src: url("./LINESeedKR-Rg.ttf");
}

@font-face {
  font-family: "line-Bd";
  src: url("./LINESeedKR-Bd.ttf");
}
