@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

.SideTagsMenu {
  padding-left: 20rem;

  &__container {
    position: fixed;
    height: 100vh;
    top: 56px;
    left: 224px;

    z-index: 9;
    padding: 1.5rem;
    width: 20rem;
    background-color: rgb(254, 254, 254);
    border-right: 1px solid rgb(240, 243, 242);
    border-top: 1px solid rgb(240, 243, 242);
    border-bottom: 1px solid rgb(240, 243, 242);

    @include media-breakpoint-down(md) {
      top: 48px;
      left: 0;
      padding-top: 0;
      padding-bottom: 1rem;
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-down(xs) {
      top: 48px;
    }
  }

  &__subHeader {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    z-index: 100;
    border-bottom: 1px solid #234e70;

    span {
      color: $gray-800;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__tagContainer {
    @include media-breakpoint-down(md) {
      display: flex;
      align-items: start;
    }

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  &__searchContainer {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 0.75rem;
    }
  }

  &__input {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.75rem;
  }

  &__icons {
    display: flex;
    align-items: flex-end;
  }

  &__sortIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.5rem;
    height: 1.5rem;

    margin-right: 0.125rem;
    user-select: none;

    cursor: pointer;

    &__active {
      color: #0c7ae2 !important;
    }
  }

  &__closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__Searchbar {
    &__input {
      width: 14rem !important;
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }
}
