@import "common/scss/color.scss";

.SideTagsMenu {
  padding-left: 20rem;

  &__container {
    position: fixed;
    height: 100vh;
    top: 56px;
    left: 224px;

    z-index: 9;
    padding: 1.5rem;
    width: 20rem;
    background-color: rgb(254, 254, 254);
    border-right: 1px solid rgb(240, 243, 242);
    border-top: 1px solid rgb(240, 243, 242);
    border-bottom: 1px solid rgb(240, 243, 242);
  }

  &__subHeader {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px solid #234e70;

    span {
      color: $gray-800;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__input {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.75rem;
  }

  &__icons {
    display: flex;
    align-items: flex-end;
  }

  &__sortIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.5rem;
    height: 1.5rem;

    margin-right: 0.125rem;
    user-select: none;

    cursor: pointer;

    &__active {
      color: #0c7ae2 !important;
    }
  }

  &__closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__Searchbar {
    // margin-bottom: 1rem;

    &__input {
      width: 14rem !important;
    }
  }
}
