#root {
  background-color: blue;
}

.banner {
  margin-top: 2rem;
}
.title-button {
  font-size: 25px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  background-color: blue;
}
