.ConfirmModal {
  &--dark {
    .ConfirmModal__content {
      background-color: #2f3443;
      color: #ced0da;
    }

    .ConfirmModal__ModalHeader {
      border-bottom-color: #20232c;
    }

    .ConfirmModal__ModalFooter {
      border-top-color: #20232c;
    }
  }

  &__button {
    min-width: 6.25rem;
  }
}
