@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

@mixin font {
  font-family: "Recursive", sans-serif;
}

.Tag {
  display: flex;
  align-items: center;

  height: 1.5rem;
  min-width: fit-content;

  margin: 0.25rem;

  background-color: white;
  box-shadow: var(--shadows-panel);

  border-radius: 1rem;
  padding: 0.375rem 0.75rem;

  &__editInput {
    display: flex;
    align-items: center;

    font-size: 0.75rem !important;
    overflow: none;

    width: 6rem !important;
    height: 1.5rem;

    padding-left: 0.75rem;

    border: none !important;
    border-radius: 1rem;

    &::placeholder {
      font-size: 0.75rem;
    }
  }

  &__name {
    font-size: 0.75rem; // 12px

    max-width: 7.5rem; // 120px
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;

    @include font;

    :first-child {
      color: gray;
      margin-right: 0.125rem;
    }
  }

  &__deleteButton {
    font-size: 0.75rem; // 12px
    line-height: 0.75rem;

    margin-left: 0.5rem;

    cursor: pointer;
  }
}
