@import "common/scss/color.scss";

.EditDropdown {
  position: absolute !important;
  right: 0;
  &__menu {
    background-color: white;
  }

  &__item {
    color: $gray-700 !important;
    width: 8rem !important;
    &:hover {
      background-color: white !important;
      font-weight: 600;
      color: $gray-700 !important;
    }

    &:focus {
      background-color: white !important;
      color: $gray-700 !important;
    }
  }
}
