@import "common/scss/color.scss";

@mixin font-Rg {
  font-family: "line-Rg" !important;
}

@mixin font-Bd {
  font-family: "line-Bd" !important;
}

.EditDropdown {
  position: absolute;
  right: 0;

  &__menu {
    background-color: white;
  }

  &__item {
    @include font-Rg;
    color: $gray-700 !important;
    width: 8rem !important;
    &:hover {
      @include font-Bd;
      background-color: white !important;
      color: $gray-700 !important;
    }

    &:focus {
      background-color: white !important;
      color: $gray-700 !important;
    }
  }
}
