@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

.MainDashboard {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  padding: 4.5rem 1rem 2rem 1rem; // 32px

  background-color: rgb(240, 243, 242);

  &__fileList {
    display: flex;
    flex-wrap: wrap;

    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    // place-items: center;
    // overflow: hidden;

    padding: 0 !important;

    @media (max-width: 1919px) {
      display: grid;
      place-items: center;
      overflow: hidden;
      grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    }

    @media (max-width: 1680px) {
      grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    }

    @include media-breakpoint-down(xl) {
      grid-template-columns: repeat(auto-fill, minmax(33%, auto));
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    }

    @media (max-width: 1150px) {
      grid-template-columns: repeat(auto-fill, minmax(33%, auto));
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(auto-fill, minmax(33%, auto));
    }

    @include media-breakpoint-down(xs) {
      grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 7rem;
  }

  &__tagPage {
    &__fileList {
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-down(md) {
      padding-top: 11.5rem;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 14.5rem;
    }
  }
}
