@import "common/scss/color.scss";

.MainDashboard {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  padding: 5rem 2rem 2rem 2rem; // 32px
  background-color: rgb(240, 243, 242);

  &__fileList {
    display: flex;
    flex-wrap: wrap;
  }
}
