@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

@mixin font {
  font-family: "Recursive", "line-Rg";
}

.Folder {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(254, 254, 254);
  width: 16rem; // 256px
  height: 14rem; // 224px
  margin: 1rem; // 16px
  padding: 1.5rem; // 24px

  cursor: pointer;
  border-radius: 2rem;

  &__top {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-bottom: 3rem;

    @media (max-width: 676px) {
      margin-bottom: 2rem;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 3rem;
    }

    @media (max-width: 436px) {
      margin-bottom: 2rem;
    }
  }
  &__image {
    width: 3.5rem;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
      width: 3rem; // 256px
    }
  }

  &__dropdownContainer {
    position: relative;
  }

  &__dropdown {
    position: absolute !important;
    left: -9.5rem;
  }

  &__dropdownIcon {
    width: 0.625rem; // 8px
    height: 1.5rem;

    z-index: 10;
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;

    max-width: 11rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include font;

    @include media-breakpoint-down(lg) {
      font-size: 1rem;

      max-width: 7rem;
    }

    @media (max-width: 900px) {
      font-size: 1.25rem;

      max-width: 10rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1rem;

      max-width: 7rem;
    }

    @media (max-width: 676px) {
      font-size: 0.875rem;

      max-width: 6.25rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1rem;

      max-width: 8.5rem;
    }

    @media (max-width: 436px) {
      font-size: 0.875rem;

      max-width: 6.25rem;
    }
  }

  &__fileCount {
    color: rgb(157, 157, 157);
    font-size: 0.75rem;

    @include font;
  }

  &__editIcon {
    width: 1.25rem; // 20px
    margin-left: 0.5rem;
  }

  @include media-breakpoint-down(lg) {
    width: 12rem; // 256px
    height: 12rem; // 224px

    padding: 1rem; // 24px
  }

  @media (max-width: 900px) {
    width: 14rem; // 256px
    height: 13rem; // 224px

    padding: 1.25rem; // 20px
  }

  @include media-breakpoint-down(sm) {
    width: 12rem; // 256px
    height: 12rem; // 224px
  }

  @media (max-width: 676px) {
    width: 10rem; // 256px
    height: 10rem; // 224px

    margin: 0.75rem;
  }

  @include media-breakpoint-down(xs) {
    width: 12rem; // 256px
    height: 12rem; // 224px

    padding: 1.25rem; // 20px
    margin: 1rem; // 16px
  }

  @media (max-width: 436px) {
    width: 10rem; // 256px
    height: 10rem; // 224px

    margin: 0.75rem;
  }
}
