@import "common/scss/color.scss";

.Folder {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 16rem; // 256px
  margin: 1rem; // 16px

  &__image {
    height: 12rem; // 192px
    cursor: pointer;
  }

  &__title {
    margin: 0.5rem;
    color: white;
  }
}
