@import "common/scss/color.scss";

.EmptyDashboard {
  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    width: 12.5rem;
    height: 12.5rem;
  }

  &__text {
    margin-top: -1.5rem;
    font-size: 1.25rem;
    color: $gray-600;
  }
}
