@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

@mixin font-Rg {
  font-family: "line-Rg" !important;
}

@mixin font-Bd {
  font-family: "line-Bd" !important;
}

.MainTitle {
  width: 400px;
  margin-right: 3rem; // 48px
  text-align: center;

  &__main {
    width: max-content;
    font-size: 4.5rem; // 56px
    line-height: 80px;
    font-weight: 700;
    color: $blue-500;

    text-align: start;

    color: #234e70 !important;
    margin-bottom: 2rem;

    @include font-Bd;

    box-shadow: rgb(182, 194, 209) 0px -2rem 0px inset;

    @include media-breakpoint-down(lg) {
      font-size: 3.5rem; // 56px
      line-height: 60px;
    }

    @include media-breakpoint-down(md) {
      font-size: 2.5rem; // 56px
      line-height: 50px;
    }
  }

  &__description {
    font-size: 1.25rem; // 20px
    font-weight: 500;

    text-align: start;
    color: $gray-700;

    @include font-Rg;

    @include media-breakpoint-down(lg) {
      font-size: 1rem; // 56px
    }
  }

  @include media-breakpoint-down(lg) {
    margin-right: 0;
    margin-bottom: 3rem;

    width: auto;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
