@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

.EmptyImage {
  width: 95%;
  height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    width: 8rem;
    height: 8rem;
  }

  &__text {
    font-size: 1rem;
    color: $gray-600;
  }

  @include media-breakpoint-down(md) {
    display: none;   
  }
}
