.RecommendedTag {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 1.5rem;

  margin-right: 0.5rem;
  padding: 0.375rem 0.75rem;

  background-color: rgb(119, 187, 107);
  box-shadow: var(--shadows-panel);

  border-radius: 1rem !important;

  &__text {
    font-size: 0.75rem; // 12px
    line-height: 0.75rem; // 12px
    color: white;
  }

  &__icon {
    margin-left: 0.5rem;
    cursor: pointer;
  }
}
