@import "common/scss/color.scss";

.ResetTag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-left: 0.5rem;

  height: 2.375rem; // 38px
  width: 2.375rem; // 38px

  border: 1px solid $gray-400;
  border-radius: 0.5rem;

  cursor: pointer;
}
