@import "common/scss/color.scss";

.FavoritesDashboard {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  padding: 1rem; // 16px

  margin-top: 3rem; // 48px

  &__fileList {
    display: flex;
    flex-wrap: wrap;
  }
}
