@import "common/scss/color.scss";

.FavoritesDashboard {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  padding: 5rem 2rem 2rem 2rem; // 32px

  &__fileList {
    display: flex;
    flex-wrap: wrap;
  }
}
