@mixin font-Rg {
  font-family: "line-Rg" !important;
}

@mixin font-Bd {
  font-family: "line-Bd" !important;
}

.SearchInput {
  position: relative;
  display: flex;
  align-items: center;

  &__Input {
    width: 20rem !important;
    padding-left: 2.25rem !important;

    &::placeholder {
      font-size: 0.875rem !important;

      @include font-Rg;
    }

    &--text {
      padding-left: 0.75rem !important;
      padding-right: 2.75rem !important;

      @include font-Rg;
    }
  }

  &__SearchIcon {
    position: absolute;
    left: 0.75rem !important;
  }

  &__CancleIcon {
    position: absolute;
    cursor: pointer;
    width: 1rem;
    height: 1rem;

    right: 0.75rem;
  }
}
