.Workspace {
  &__container {
    width: 8rem; // 144px
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem; // 16px

    cursor: pointer;
  }

  &__dataEdit {
    font-size: 0.75rem; // 12px
    color: gray;
  }
}
