.CreateFileButton {
  position: fixed;
  bottom: 12px;
  right: 12px;

  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  box-shadow: var(--shadows-panel);

  cursor: pointer;

  background-color: #234e70;
  box-shadow: var(--shadows-panel);

  z-index: 100;

  &:hover {
    transform: scale(1.05);
  }

  &__dropdown {
    position: absolute;
    right: 9rem;
    bottom: 8.5rem;
  }
}
