@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

.ResetTag {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;

  background-color: white !important;
  border: 1px solid $gray-400 !important;
  color: $gray-700 !important;
  padding: 0 !important;

  height: 2.375rem; // 38px
  width: 2.375rem; // 38px

  border: 1px solid $gray-400;
  border-radius: 0.5rem;

  &:hover {
    box-shadow: var(--bs-btn-focus-box-shadow) !important;
  }

  &:focus {
    box-shadow: none !important;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  cursor: pointer;

  @include media-breakpoint-down(md) {
    margin-right: 0.5rem;
  }
}
