@mixin font-Rg {
  font-family: "line-Rg" !important;
}

@mixin font-Bd {
  font-family: "line-Bd" !important;
}

.Tag {
  width: max-content;
  margin: 0.25rem;

  // background-color: #dce2f0 !important;
  border: none !important;
  border-radius: 1rem !important;
  box-shadow: var(--shadows-panel);

  padding: 0.375rem 0.75rem;

  background-color: rgb(254, 254, 254) !important;

  &__name {
    font-size: 0.875rem; // 12px
    font-weight: 500;
    color: #234e70;

    @include font-Rg;
  }

  &__count {
    font-size: 0.75rem; // 12px
    margin-left: 0.5rem; // 8px
    color: #63707a;

    @include font-Rg;
  }

  &:focus {
    background-color: #c0d7eb !important;

    &__name {
      color: #dce2f0 !important;
    }
  }
}
