.MainPage {
  display: flex;
  background-color: rgb(240, 243, 242);

  &__container {
    position: relative;
    display: flex;
    background-color: rgb(240, 243, 242);
    height: 100vh;
    width: 100%;

    &__dashboard {
      padding-left: 14rem;
      width: 100%;
      height: 100%;
    }
  }
}
