.LoginPage {
  height: 100vh;

  &__container {
    // margin-left: 3rem;
    // margin-right: 3rem;
  }

  &__leftSection {
    width: 50%;
    margin-left: 3rem; // 48px
  }

  &__rightSection {
    width: 50%;
    margin-right: 3rem; // 48px
  }
}
