@import "common/scss/color.scss";

.MoveToBackButton {
  width: 3.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 2rem; // 16px

  // border: 1px solid gray;
  border-radius: 0.5rem; // 8px

  background-color: rgb(254, 254, 254);

  cursor: pointer;

  &__title {
    padding-left: 0.5rem;
    color: $gray-800;
    font-size: 1.25rem;
  }
}
