@import "common/scss/color.scss";
@import "common/scss/Utils.scss";

.GoogleOauth {
  margin-top: 2rem;

  &__button {
    transition: all 0.3s;
    width: 12rem; // 192px
    height: 3rem; // 64px

    border: none;

    background-color: white !important;
    box-shadow: var(--shadows-panel);

    color: white;
    font-weight: 700;
    border-radius: 1rem;

    margin-top: 5rem;

    &__logo {
      width: 2rem;
      height: 2rem;

      margin-right: 0.75rem;
    }

    span {
      color: $gray-800;
    }

    &:hover {
      transform: scale(1.05);
    }

    @include media-breakpoint-down(lg) {
      margin-top: 1rem;
    }

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }
  }
}
