.Main {
  background-color: rgb(17, 17, 17);

  &__container {
    background-color: rgb(17, 17, 17);
    &__tagList {
      max-width: 20rem;
      min-width: 15rem;
      border: 0.5px solid rgb(186, 186, 186);
    }

    &__mainDashboard {
    }
  }
}
