@import "common/scss/color.scss";

@mixin font-Rg {
  font-family: "line-Rg" !important;
}

@mixin font-Bd {
  font-family: "line-Bd" !important;
}

.DropdownSelect {
  margin-left: 0.5rem;

  &__toggle {
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    width: 7rem !important;
    background-color: white !important;
    color: black !important;
    border: solid 1px $gray-400 !important;
    color: $gray-700 !important;

    @include font-Rg;
  }

  &__menu {
    &__item {
      color: $gray-700 !important;
      @include font-Rg;

      &:hover {
        font-weight: 600;
        background-color: white !important;
      }

      &:focus {
        background-color: white !important;
      }
    }
  }
}
