@import "common/scss/color.scss";

.DropdownSelect {
  margin-left: 0.5rem;

  &__toggle {
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    width: 7rem !important;
    background-color: white !important;
    color: black !important;
    border: solid 1px $gray-400 !important;
    color: $gray-700 !important;
  }

  &__menu {
    &__item {
      color: $gray-700 !important;

      &:hover {
        font-weight: 600;
        background-color: white !important;
      }

      &:focus {
        background-color: white !important;
      }
    }
  }
}
