@import "common/scss/color.scss";

.EditorMenu {
  &__topLeft {
    display: flex;
    align-items: center;
    position: absolute;

    padding: 0.25rem;

    border: none;
    border-bottom-right-radius: 0.5rem;

    box-shadow: var(--shadows-panel);

    z-index: 2;

    h6 {
      margin: 0.5rem;
      padding: 0 0.25rem;
    }

    &__button {
      display: flex !important;
      align-items: center;
      justify-content: center;

      border: none !important;
      box-shadow: none !important;
      padding: 0.5rem !important;

      &:hover,
      &:focus,
      &:active {
        background-color: $gray-300 !important;
      }
    }
  }

  &__top {
    position: absolute;
    display: flex;
    align-items: center;

    border: 1px solid gray;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    padding: 0.25rem;

    left: 50%;
    transform: translate(-50%);
    z-index: 2;

    background-color: rgb(254, 254, 254);
    border: none;
    box-shadow: var(--shadows-panel);
  }

  &__tool {
    display: flex !important;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    padding: 0.5rem !important;
    margin-left: 0.25rem;

    border: none !important;

    background-color: white !important;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: $gray-300 !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  &__activeTool {
    background-color: $blue-600 !important;

    &:hover {
      background-color: $blue-600 !important;
    }
  }

  &__icon {
    font-size: 1.375rem; // 22px
    color: $gray-800;

    &__active {
      color: white !important;
    }
  }
}

.Tag {
  &__editInput {
    display: flex;
    align-items: center;

    font-size: 0.75rem !important;
    overflow: none;

    width: 5.875rem !important;
    height: 1.5rem;

    padding-left: 0.75rem;
    margin-right: 0.5rem;
    border: none !important;
    border-radius: 1rem;

    &::placeholder {
      font-size: 0.75rem;
    }
  }
}

.TagContainer {
  position: absolute;
  bottom: 8px;
  left: 8px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  z-index: 2;

  &__switch {
    height: 1.5rem !important;
    width: 3rem !important;
    box-shadow: none !important;

    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0.5rem !important;

    &:checked {
      background-color: $blue-600 !important;
      border-color: $blue-600 !important;
    }
  }
}

.divider {
  width: 1px;
  height: 24px;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid $gray-300;
}

.RecommendedTag {
  &__title {
    font-size: 0.875rem;
    color: $gray-700;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
