.EditorMenu {
  &__topLeft {
    display: flex;
    align-items: center;
    position: absolute;

    border: 1px solid gray;
    border-radius: 0.5rem;

    z-index: 2;

    h6 {
      margin: 0.5rem;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    position: absolute;

    border: 1px solid gray;
    border-radius: 0.5rem;

    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }
}

.TagContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  left: 8px;

  // width: 400px;
  flex-wrap: wrap;

  z-index: 2;
}

.TagList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Tag {
  display: flex;
  align-items: center;
  line-height: 0.75rem;
  margin: 0.25rem;

  background-color: white;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;

  &__editInput {
    display: flex;
    align-items: center;
    width: 6rem !important;
    overflow: none;
    height: 1.5rem;

    font-size: 0.75rem !important;

    border: none !important;

    &::placeholder {
      font-size: 0.75rem;
    }
  }

  &__name {
    font-size: 0.75rem; // 12px
    line-height: 0.75rem;

    cursor: pointer;

    :first-child {
      color: gray;
      margin-right: 0.125rem;
    }
  }

  &__deleteButton {
    font-size: 0.75rem; // 12px
    line-height: 0.75rem;

    margin-left: 0.5rem;
    cursor: pointer;
  }
}

.RecommendedTag {
  display: flex;
  align-items: center;
  line-height: 0.75rem;
  margin: 0.25rem;

  background-color: rgb(119, 187, 107);
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;

  &__text {
    font-size: 0.75rem; // 12px
    line-height: 0.75rem; // 12px
    color: white;
    cursor: pointer;
  }
}
